body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

/* THEME PINK */
/*  ********************************** */

.theme-pink {
  background: #E59DB4;
}

.theme-pink .base-color-light {
  color: #E59DB4;
}

.theme-pink .base-color-dark {
  color: #C94C67; 
}

.theme-pink .base-color-border-light {
  border: 1px solid #E59DB4;
}

.theme-pink .base-color-shadow {
  box-shadow: -65px 50px 85px rgba(136,71,90,0.8);
}

/* THEME BLUE*/
/*  ********************************** */

.theme-blue {
  background: #F3F3F4;
}

.theme-blue .base-color-light {
  color: #3498db;
}

.theme-blue .base-color-dark {
  color: #2980b9; 
}

.theme-blue .base-color-border-light {
  border: 1px solid #3498db;
}

.theme-blue .base-color-shadow {
  box-shadow: -65px 50px 85px rgba(25,107,162,1);
}

/* THEME GREEN*/
/*  ********************************** */

.theme-green {
  background: #1abc9c;
}

.theme-green .base-color-light {
  color: #1abc9c;
}

.theme-green .base-color-dark {
  color: #16a085; 
}

.theme-green .base-color-border-light {
  border: 1px solid #1abc9c;
}

.theme-green .base-color-shadow {
  box-shadow: -65px 50px 85px rgba(12,98,81,1);
}

/*  ******************************************************************** */

/* THEME ORANGE*/
/*  ********************************** */

.theme-orange {
  background: #f39c12;
}

.theme-orange .base-color-light {
  color: #f39c12;
}

.theme-orange .base-color-dark {
  color: #e67e22; 
}

.theme-orange .base-color-border-light {
  border: 1px solid #f39c12;
}

.theme-orange .base-color-shadow {
  box-shadow: -65px 50px 85px rgba(168,108,12,1);
}


/*  ******************************************************************** */

/* THEME RED*/
/*  ********************************** */

.theme-red {
  background: #e74c3c;
}

.theme-red .base-color-light {
  color: #e74c3c;
}

.theme-red .base-color-dark {
  color: #c0392b; 
}

.theme-red .base-color-border-light {
  border: 1px solid #e74c3c;
}

.theme-red .base-color-shadow {
  box-shadow: -65px 50px 85px rgba(167,38,24,1);
}

/*  ******************************************************************** */

.header {
  width: 900px;
  margin: 0 auto;
  /*padding: 30px 0;*/
  height: 55px;
  top: 0;
  left: 50%;
  right: 50%;
  background: white;
  /*border-bottom: 1px solid #E8E8E8;*/
}

.header .header-item {
  width: 448px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 8px 0 11px 0;
  color: #3498db;
  font-size: 14px;
  border-bottom: 1px solid #E8E8E8;
}

.header .header-item:hover {
  border-bottom: 1px solid #3498db !important;
}


.header .selected {
  border-bottom: 1px solid #3498db;
}

.content {
  width: 900px;
  background: #ffffff;
  margin: 20px auto;
  border-top: 1px solid #E8E8E8;
}

.main-container {}

.main-container .left {
  border-right: 1px solid #E8E8E8;
  min-width: 554px;
  max-width: 554px;
  padding: 0 30px 30px 80px;
  display: inline-block;
  vertical-align: top;
}

.main-container .right {
  padding: 0px 0px 0px 25px;
  display: inline-block;
  max-width: 200px;
  vertical-align: top;
}

.left .cv-title {
  margin-top: 60px;
}

.cv-title .img-container {
  margin-top: 5px;
  width: 65px;
  height: 65px;
  vertical-align: top;
  display: inline-block;
}

.img-container img {
  max-width: 65px;
  border-radius: 50%;
}

.cv-title .about {
  vertical-align: top;
  display: inline-block;
}

.cv-title .about .name {
  font-size: 25px;
  color: #4A4A4A;
  font-weight: bold;
}

.cv-title .about .position {
  font-size: 13px;
}

.cv-title .about .location {
  margin-top: 4px;
  font-size: 13px;
  color: #959595;
}

.location img {
  max-width: 6px;
  margin-right: 3px;
}

.section {
  margin-top: 25px;
}

.section h3 {
  font-size: 15px;
  font-weight: bold;
}

.section .section-content {}

.section .section-border-left {
  border-left: 1px solid #E8E8E8;
  padding: 0 0 0 25px;
}

.section .section-content .title {
  font-size: 15px;
  font-weight: bold;
  color: #4A4A4A;
}

.section .section-content .sub-title {
  font-size: 13px;
  /*color: #E59DB4;*/
}

.section .section-content .description {
  margin-top: 5px;
  font-size: 14px;
  color: #959595;
}

.tag-container {
  margin-top: 5px;
  max-width: 400px;
}

.tag-container .tag {
  padding: 2px 4px 2px 4px;
  border-radius: 5px;
  font-size: 11px;
  /*color: #E59DB4;*/
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag a {
  text-decoration: none;
}

.footer {
  width: 900px;
  height: 60px;
  border-top: 1px solid #E8E8E8;
}

.footer .container {
  position: relative;
  margin-top: 20px;
}

.footer .container .copyright {
  position: absolute;
  display: inline-block;
  font-size: 12px;
  color: #4A4A4A;
  left: 130px;
}

.footer .container .social-icons {
  position: absolute;
  display: inline-block;
  font-size: 24px;
  color: #4A4A4A;
  right: 130px;
}

.fa-size-9 {
  font-size: 9px;
}

.mt15 {
  margin-top: 15px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.font-14 {
  font-size: 14px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-10 {
  font-size: 10px !important;
}

.px-10 {
  padding: 0 10px 0 10px !important;
}

.ml-5 {
  margin-left: 5px;
}

.a-unstiled {
  text-decoration: none;
}

